.client {
  border: 1px solid gray;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.client a {
  color: rgb(77, 77, 255);
  cursor: pointer;
  margin-left: 20px;
}

.subtitle {
  margin-left: 20px;
}
.data {
  margin: 0;
  font-size: 15px;
}

.columns {
  margin-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.rows {
  margin-left: 10px;
}

.header .data,
.summary .data {
  font-weight: 600;
}

.number {
}

.report {
  position: relative;
  width: 880px;
  margin: 0 auto;
}
.report-title {
  text-align: center;
}
.report-dates {
  text-align: center;
}

.datePiker {
  margin-bottom: 20px;
}
.noData {
  text-align: center;
  color: rgb(199, 90, 90);
}
.reportSection {
  padding-bottom: 100px;
  padding-top: 30px;
}

table {
  width: 100%;
}
